.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  background-color: #fff;
  margin: 5%;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  display: grid;
  flex: 1;
  margin: 5%;
}

.flight-info {
  flex-basis: 48%;
  margin-bottom: 8px;
  justify-content: center;
}

.flight-airports {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.flight-duration {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.flight-stops {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.flight-info {
  flex-basis: 48%;
  margin: 2px;
  margin-bottom: 8px;
}

.user-name {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.user-surname {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.user-email {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.user-username {
  flex-basis: 48%;
  margin-bottom: 8px;
}

.user-info h3,
.user-info h4 {
  margin: 2px;
}

h1 {
  font-size: 36px;
  margin-top: 2%;
  text-align: center;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #0090c9;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

button:active,
.btn:hover {
  background-image: linear-gradient(to bottom, #0274a1, #0090c9);
  color: #fff;
}

.form-group,
input[type="text"],
select {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-top: 30px;
}

.content {
  text-align: center;
  color: black;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn,
.button:disabled {
  display: inline-block;
  background-color: #fff;
  color: #0090c9;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0090c9;
  color: #fff;
}

#error-msg {
  padding-top: 4px;
  padding-left: 10px;
  color: red;
  font-size: 14px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header {
  background-color: #f4f4f4;
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: 2px;
  padding-top: 2px;
}

.static-text {
  font-weight: lighter;
}

.dynamic-data {
  font-weight: bold;
}

/* Media queries */
@media screen and (max-width: 500px) {
  .form-container {
    padding: 10px;
    font-size: 14px;
  }
}
#price {
  color: #0090c9;
}
